# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Environment files
.env
.env.*

# Logs
logs
*.log

# Local files
*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Misc
*.sw?